/* fonts
    font-family: 'Questrial', sans-serif;
    font-family: 'Chicle', cursive;
    font-family: 'Limelight', cursive;
    font-family: 'Graduate', cursive;
    font-family: 'Bangers', cursive;
*/

body {
    background-image: url('../img/redox_01.png');
    background-repeat: repeat;
}

a { 
    color: black;
}

img {
    float:left;
    padding: 5px;
}

#header {
    top: 0px;
    left: 0px;
    margin: 0px;
    position:fixed;
    width: 100%;
    height: 40px;
    background-color: black;
    z-index: 999;
}



#timeline_container {
    position: absolute;
    top: 520px;
    display: block;
    width: 100%;
}

#timeline {
    /*margin-top: 520px;*/
    /*margin-top: 200px; */
    display:block;
    width: 120px;
    height: 4000px;
    margin-left:auto;
    margin-right:auto;
    /*background-color: gray;*/
    /*float: right;*/
}

#current {
    position: absolute;
    top: 20px;
    display:block;
    width: 100%;
}

#container {
    /*margin-top: 520px;*/
    position: absolute;
    top: 320px;
    z-index: 2;
}

#workfocus {
    display:block;
    width: 100%;
    height: 20px;
    margin-top:20px;
}
#workfocus .bar {
    display:block;
    position:fixed;
}

#mainstem {
    /* TODO: give gradient bg */
    width: 31%;
    position:relative;
    float:left;
    margin-top:40px;
}

#tributary {
    width: 31%;
    position:relative;
    float:left;
    margin-top:40px;
}

#d3 {
    width: 31%;
    position:relative;
    float:left;
    margin-top:40px;
}

#visually {
}

#chinese {
    right: 0px;
    margin-top: 200px;
}

#dsc {
    right: 0px;
}

#gis {
    margin-top: 800px;
}

#hci {
}

#micro {
}

.current {
    /*background-color: blue;*/
    background-color: rgba(86, 131, 199, .2);
    border-radius: 8px;
    margin: 0px 2px 0px 2px;
    padding: 10px 5px 10px 5px;
    /*padding: 10px;*/
    /*border: 1px solid #CDCDCD;*/
}

.viz {
    /*background-color: blue;*/
    background-color: rgba(86, 131, 199, .2);
    border-radius: 8px;
    margin: 0px 2px 0px 2px;
    padding: 10px 15px 10px 15px;
    /*padding: 10px;*/
    /*border: 1px solid #CDCDCD;*/
}
.chinese {
    /*background-color: red;*/
    background-color: rgba(199, 86, 131, .2);
    border-radius: 8px;
    margin: 0px 2px 0px 2px;
    padding: 10px 15px 10px 15px;
}
.hci {
    /*background-color: green;*/
    background-color: rgba(131, 199, 86, .2);
    border-radius: 8px;
    margin: 0px 2px 0px 2px;
    padding: 10px 15px 10px 15px;
}
.section {
    /* background-color: gray; */
    width: 40%;
    margin-top: 20px;
}

.section_header {
    /*font-family: 'Bangers', cursive;*/
    font-family: 'Questrial', sans-serif;
    /*font-family: 'Chicle', cursive;*/
    font-size: 30px;
    text-align: center;
}
.section_header a {
}

.section_content {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
.section_content a {
    font-family: 'Limelight', cursive;
    font-size: 20px;
}

.school {
    font-family: 'Graduate', cursive;
}

/*
@media screen and (max-width: 960px) {
    .section {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        width: 500px;
    }
}

@media screen and (max-width: 320px) {
    .section {
        width: 300px;
    }
}
*/


